{% extends 'base.html.twig' %}

{%- block title -%}
    Sponsor - Flow PHP - Data Processing Framework
{%- endblock -%}

{%- block description -%}
    Flow is a PHP-based, strongly typed data processing framework with low memory footprint that can process various data sources consistently.
    It offers a unified API for all data sources, including CSV, JSON, XML, Text, Parquet, Avro, Rest API, RDBMS, Elasticsearch / Meilisearch.
    Flow not only enables you to process various data sources consistently, but also strives to accurately detect data types and cast them to the appropriate PHP types.
{%- endblock -%}

{#{% block tracking %}#}
{#{% endblock %}#}

{% block hero %}
{% endblock %}

{% block main %}
    <div class="max-w-screen-xl mx-auto" data-controller="cookie-fallback">
        <section class="mx-auto my-10 px-2">
            <h1 class="font-bold text-6xl">Sponsor Flow <img src="{{ asset('images/icons/heart.svg') }}" alt="external resource" width="64" height="64" class="ml-1 inline"></h1>
            <p class="mt-4">
                Flow PHP is an Open Source Project and is free to use. If you find Flow PHP useful, please consider sponsoring the project.<br/>
                With your support, we can continue to improve the project and provide better support to the community.
            </p>

            <p class="mt-2">
                Flow PHP was originally inspired by the need for rapid, flexible data processing flows in modern PHP applications. Through the project, I aim to lessen the complexity of event-based architectures while providing maintainable, tested, and production-ready tools. Your sponsorship will help grow the project further—funding more in-depth documentation, additional features, and a sustainable roadmap. Thank you for supporting open-source innovation!
            </p>
            <p class="mt-2">
                Flow PHP is developed under an the MIT license, and it's completely free to use by anyone, including commercial use cases!
            </p>
            <div class="mt-4 text-center">
                <iframe src="https://github.com/sponsors/norberttech/card" title="Sponsor norberttech" style="border: 0; min-width:390px; max-width: 650px; min-height: 250px;"></iframe>
            </div>
            <hr class="mt-4" />

            <h3 class="mt-4 font-bold text-4xl">Hire me!</h3>
            <p>
                Another great way to support my work and help Flow to grow is to hire me to consult/support your project!
                If you hire me for a Workshop or a minimum of 20 hours, your logo can be added to a flow-php sponsors page 🤑
            </p>
            <p>
                Please find more at <a href="https://norbert.tech/consulting" target="_blank">https://norbert.tech/consulting</a>
            </p>
        </section>
    </div>
{% endblock %}
